.experience {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.company-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    .company-icon{
        height: 2rem;
    }
    .location {
        margin-left: auto;
        span {
            float: right;
        }
    }
}
