<button class="btn btn-primary position-fixed bottom-0 end-0 m-3 z-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#chatPane" aria-controls="chatPane">Hambone</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="chatPane" data-bs-backdrop="false" aria-labelledby="chatPaneLabel">
    <div class="offcanvas-header">
        <h5 id="chatPaneLabel">Hambone</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>
